.headerContainer {
    height: 5rem;
}


.headerContent {
    max-width: 1280px;
    height: 5rem;
    margin:  0 auto;
    padding: 0 16px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .dashboardLink {
        color: var(--white);
        text-decoration: none;
        font-size: 1rem;
        transition: color 0.8s;

        &:hover {
            color: var(--red-900);
        }
    }

    nav {
        display: flex;
        align-items: center;
        gap: 14px;

        a {
            color: var(--white);
            text-decoration: none;
            transition: color .8s;

            &:hover {
                color: var(--red-900);
            }
        }

        button {
            border: 0;
            background: transparent;
            margin-left: 16px;
            transition: transfrorm .5s;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}