.select {
    height: 40px;
    border: 0;
    background-color: var(--dark-900);
    border-radius: 8px;
    padding: 0 16px;
    color: var(--white);
    border: 1px solid var(--gray-100);
    cursor: pointer;
    transition: border-color 0.2s;
    font-size: 1rem;

    &:hover:not(:disabled) {
        border-color: var(--green-900);
    }

    &:focus {
        outline: none;
        border-color: var(--green-900);
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    option {
        background-color: var(--dark-900);
        color: var(--white);
    }
}

