.salesPageContainer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 24px 16px;
}

.pageTitle {
  color: var(--white);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 32px;
}

@media (max-width: 720px) {
  .pageTitle {
    font-size: 1.5rem;
  }
}
